<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>img </title>
</head>
<body>

    <%if(locals.image){ %>
    
      
        <div class="videosMain">
                <video width="320" height="240" controls>
                    <source src="/./upload/<%=image%>" type="video/mp4">
                  </video>
            </div>

    <%}%>

        
        











<h4>cannot find image</h4>

    <%}%>
</body>
</html>