<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Shere</title>
</head>
<body class="bg-indigo-200">
<style>

    .mainDiv {
        width: 400px;
    margin: auto;
    margin-top: 49px;
    padding: 23px;
    border-radius: 9px;
    outline: none;
}
input.bg-indigo-700.p-2.text-white.rounded-md.cursor-pointer.w-2\/3.m-auto.block {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 8px;
}

.Linkdiv.bg-purple-600.rounded-full {
    padding: 11px;
}
.Linkdiv.bg-indigo-600.rounded-full {
    padding: 11px;
}
.flex.slink {
    display: block;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
a.p-2.text-white.Linkdiv.rounded-full.bg-indigo-600 {
    padding:  10px 36px;
}

a.Linkdiv.bg-sky-600.rounded-full.p-2.text-white {
    padding: 10px 36px;
}
h2{
  width: 150px;
  margin: auto;
  display: block;
}
  h2.text-center.font-bold.bg-white.text-black.shadow-lg.p-3.mb-3 {
    border-radius: 46px;
    /* border: 1px dotted gray; */
    background: #f7f7f7;
    outline: none;

}




.linkmain {
    /* border: 1px dashed; */
    /* padding: 6px; */
    margin: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    /* padding: 4px 6px; */
}

input#myInput {
    width: 84%;
    background: #efefef;
    /* background: bisque; */
    padding: 2px;
    border-radius: 13px;
}

button.LinkCopyButton {
    width: 16%;
    position: relative;
    text-align: center;
    background: #5373be;
    padding: 3px;
    color: white;
    cursor: pointer;
    border-radius: 16px;
}
.copyIcon {
    cursor: pointer;
    font-size: 19px;
}
.linkmain {
    background: #f3f3f3;
    border: 1px solid #d6d4dd;
    padding: 3px;
}





input.wpss {
    padding: 4px 12px;
    border: 1px solid #8f208f;
    margin-top: 12px;
    outline: none;
    border-radius: 6px;
    position: relative;
    left: 47px;
}

.wPasCheck {
    position: relative;
    left: -16px;
}

input.linkIt {
    font-style: italic;
    font-family: cursive;
    padding-left: 18px;
}



button.LinkCopyButton:active:before {
  content: "copied";
    position: absolute;
    top: -46px;
    color: white;
    background: #6438c7;
    padding: 6px 18px;
    border-radius: 12px;
    left: -11px;
    cursor: pointer;
    box-shadow: 1px 2px 11px #ababab;
}

button.LinkCopyButton:hover {
    background: black;
    color: white;
    box-shadow: 2px 4px 4px #b3afaf;
}
</style>

 
<div class="mainDiv bg-white shadow-xl "> 
  <h2 class=" text-center font-bold bg-white text-black shadow-lg  p-3 mb-3">maja-Shere</h2>
    <form class="text-center m-auto  items-center space-x-6" enctype="multipart/form-data" action="/upload" method="post">
      <div class=" m-auto ">
        <div class="shrink-0">
         
        </div>
        <label class="block border-2 border-dashed p-4 rounded-lg border-stone-400 mb-3">
         
          <input type="file" required name="file" class="block w-full text-sm text-slate-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-violet-50 file:text-violet-700
            hover:file:bg-violet-100
          "/>
        </label>
      </div>
      <%if(!locals.fileName){%>
      <label>
        <input type="checkbox"  class="accent-pink-500 wPasCheck " > With Password
        
      </label>
      <input type="text" class="wpss"  placeholder="Enter Password" style="display: none;">

      <%}%>

       <input  type="submit" class="text-white p-2 upload bg-indigo-700 p-2 text-white rounded-md cursor-pointer w-2/3 m-auto block" value="Upload" >
      </form>
      <div class="text-center m-auto  items-center space-x-6">

  
       <%if(locals.fileName){%>
        <small>Expire 24h</small>
      <div class="linkmain pointer">
        <input disabled type="text"  class="linkIt" value="<%=locals.fileName%>"></input>
        <input hidden type="text" id="myInput" class="linkIt" value="http://localhost:4002/show/views/upload/<%=locals.fileName%>"></input>
        <button active  onclick="myFunction()"  class="LinkCopyButton "><i class="pointer copyIcon fa-regular fa-copy"></i></button>
      </div>
      <div class="flex slink  ">
        <a style="width: 30px;" class="p-3 text-white shadow-xl  rounded-full bg-indigo-700	" href="#">Email Send</a>
     </div>
         <%}%>
       
    </div>

</div>

<script>

document.querySelector(".wPasCheck").addEventListener("click",function(){
  const wPasCheck=document.querySelector(".wPasCheck").checked;
  var x = document.querySelector(".wpss");

  if(wPasCheck==true){
    x.style.display = "block";
  }else{
    x.style.display = "none";
  }

});




  function myFunction() {
    // Get the text field
    var copyText = document.getElementById("myInput");
  
    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
  
    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);
    
  }
  </script>
</body>
</html>